COREDIRECTIVE_ENGINE/telegram_direct.json
{
  "name": "Telegram Direct",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-hook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "telegram-hook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cd-service-ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"qwen2.5:7b\",\n  \"prompt\": \"You are CoreDirective AI running on private AWS RHEL infrastructure with zero external API dependencies. Generate a brief 2-sentence system status confirmation.\",\n  \"stream\": false,\n  \"options\": { \"temperature\": 0.7, \"num_predict\": 100 }\n}",
        "options": { "timeout": 60000 }
      },
      "id": "ollama-call",
      "name": "Ollama Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').first().json;\nconst ollama = $input.first().json;\nconst chatId = webhook.body.message.chat.id;\nconst aiResponse = ollama.response || 'System online.';\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text: `🟢 *CoreDirective Online*\\n\\n${aiResponse}`,\n    parse_mode: 'Markdown'\n  }\n};"
      },
      "id": "format-msg",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-main",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Ollama Generate", "type": "main", "index": 0 }]] },
    "Ollama Generate": { "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]] },
    "Format Message": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] },
    "Send Telegram": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
