COREDIRECTIVE_ENGINE/workflow_master_router_nosecret.json
{
  "name": "Telegram Master Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "telegram-nosecret"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw.body || raw;\nconst msg = data.message || {};\nconst cb = data.callback_query || {};\nconst text = (msg.text || cb.data || '').toLowerCase();\nconst chatId = msg.chat?.id || cb.message?.chat?.id || 0;\nconst user = msg.from?.username || cb.from?.username || 'User';\n\nlet route = 'unknown';\nif (text.startsWith('/focus')) route = 'focus';\nelse if (text.startsWith('/status')) route = 'status';\nelse if (text.startsWith('/help')) route = 'help';\n\nreturn { json: { text, chatId, user, route } };"
      },
      "name": "Parse & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.route }}", "value2": "focus"}]
        }
      },
      "name": "Is Focus?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.route }}", "value2": "status"}]
        }
      },
      "name": "Is Status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.route }}", "value2": "help"}]
        }
      },
      "name": "Is Help?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cd-service-ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:7b\",\n  \"prompt\": \"Pick ONE task: Lab Report (tomorrow), Code Review (3 days). JSON: {\\\"task\\\":\\\"name\\\",\\\"reason\\\":\\\"why\\\",\\\"minutes\\\":45}\",\n  \"stream\": false,\n  \"options\": {\"temperature\": 0.3, \"num_predict\": 100}\n}",
        "options": {"timeout": 120000}
      },
      "name": "Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "jsCode": "const ollama = $input.first().json;\nconst ctx = $('Parse & Route').first().json;\nlet task = {task:'Focus Task',reason:'Selected for you',minutes:45};\ntry{task=JSON.parse((ollama.response||'{}').replace(/```json?|```/g,'').trim());}catch(e){}\nreturn {json:{chat_id:ctx.chatId,text:`🎯 *COMMANDER*\\n*${task.task}*\\n⏱ ${task.minutes} min\\n_${task.reason}_`,parse_mode:'Markdown'}};"
      },
      "name": "Format Focus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse & Route').first().json;\nreturn {json:{chat_id:ctx.chatId,text:'📊 *STATUS*\\n✅ System Online\\n✅ Ollama Ready',parse_mode:'Markdown'}};"
      },
      "name": "Format Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 450]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse & Route').first().json;\nreturn {json:{chat_id:ctx.chatId,text:'📖 *COMMANDS*\\n/focus - Get task\\n/status - Check system\\n/help - This message',parse_mode:'Markdown'}};"
      },
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 650]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse & Route').first().json;\nreturn {json:{chat_id:ctx.chatId,text:'🤷 Unknown command. Try /help',parse_mode:'Markdown'}};"
      },
      "name": "Format Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 850]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 500]
    },
    {
      "parameters": {"respondWith": "text", "responseBody": "ok", "options": {}},
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 500]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse & Route", "type": "main", "index": 0}]]},
    "Parse & Route": {"main": [[{"node": "Is Focus?", "type": "main", "index": 0}]]},
    "Is Focus?": {"main": [
      [{"node": "Ollama", "type": "main", "index": 0}],
      [{"node": "Is Status?", "type": "main", "index": 0}]
    ]},
    "Is Status?": {"main": [
      [{"node": "Format Status", "type": "main", "index": 0}],
      [{"node": "Is Help?", "type": "main", "index": 0}]
    ]},
    "Is Help?": {"main": [
      [{"node": "Format Help", "type": "main", "index": 0}],
      [{"node": "Format Unknown", "type": "main", "index": 0}]
    ]},
    "Ollama": {"main": [[{"node": "Format Focus", "type": "main", "index": 0}]]},
    "Format Focus": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Format Status": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Format Help": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Format Unknown": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Send": {"main": [[{"node": "OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
